
<div class="row">
  <div class="col">
    <h2>Conferencistas</h2>
  </div>
</div>

<div class="row">
  <div class="col p-2">
    <button (click)="openModalNuevo(modalConfContent)" class="btn btn-info btn-sm float-right ml-1">
      <fa-icon [icon]="faPlus"></fa-icon>
      Nuevo
    </button>
    <button (click)="openModalEditar(modalConfContent)" [disabled]="selectedConf == null" class="btn btn-warning btn-sm float-right ml-1">
      <fa-icon [icon]="faEdit"></fa-icon>
      Editar
    </button>
    <button (click)="onEliminarConf()" [disabled]="selectedConf == null" class="btn btn-danger btn-sm float-right ml-1">
      <fa-icon [icon]="faTrashAlt"></fa-icon>
      Eliminar
    </button>
  </div>
</div>

<div class="table-responsive">

  <table class="table table-hover">
    <thead>
    <tr>
      <!--<th>Id</th>-->
      <th>Nombre</th>
      <th>Profesion</th>
      <th>Resumen</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let conf of conferencistas" (click)="onConfClicked(conf)" [ngClass]="{'bg-dark text-light': conf == selectedConf}">
      <!--<td>{{conf.id}}</td>-->
      <td>{{conf.nombre}}</td>
      <td>{{conf.profesion}}</td>
      <td>{{conf.resumen | slice: 0:64}}</td>
    </tr>
    </tbody>
  </table>

</div>

<ng-template #modalConfContent let-modalConf>

  <div class="modal-header">

    <h1 *ngIf="opcionNuevoConf;else titleEdicion" class="modal-title">Nuevo</h1>
    <ng-template #titleEdicion>
      <h1 class="modal-title">Editar</h1>
    </ng-template>

    <button type="button" class="close" aria-label="Close" (click)="modalConf.dismiss('')">
      <fa-icon [icon]="faTimes"></fa-icon>
    </button>

  </div>

  <div class="modal-body">

    <form (ngSubmit)="onSubmitFormConf()" [formGroup]="formConf" id="form-conf">
      <div class="form-group row">
        <label for="nombre" class="col-12 col-md-2 col-form-label">Nombre</label>
        <div class="col-12 col-md-10">
          <input formControlName="nombre" type="text" id="nombre" class="form-control" placeholder="Nombre">
        </div>
      </div>
      <div class="form-group row">
        <label for="profesion" class="col-12 col-md-2 col-form-label">Profesi&oacute;n</label>
        <div class="col-12 col-md-10">
          <input formControlName="profesion" type="text" id="profesion" class="form-control" placeholder="Profesi&oacute;n">
        </div>
      </div>
      <div class="form-group row">
        <label for="resumen" class="col-12 col-md-2 col-form-label">Resumen</label>
        <div class="col-12 col-md-10">
          <textarea formControlName="resumen" id="resumen" class="form-control" placeholder="Resumen">

          </textarea>
        </div>
      </div>
    </form>

  </div>

  <div class="modal-footer">
    <button [disabled]="!formConf.valid" type="submit" form="form-conf" class="btn btn-primary">
      <fa-icon [icon]="faSave"></fa-icon>
      Guardar
    </button>
  </div>

</ng-template>
