
<div class="container">
  <div class="row">
    <div class="col">
      <h2>Salones</h2>
    </div>
  </div>

  <div class="row">
    <div class="col p-2">
      <button (click)="openModalNuevo(modalSalonContent)" class="btn btn-info btn-sm float-right ml-1">
        <fa-icon [icon]="faPlus"></fa-icon>
        Nuevo
      </button>
      <button (click)="openModalEditar(modalSalonContent)" [disabled]="selectedSalon == null" class="btn btn-warning btn-sm float-right ml-1">
        <fa-icon [icon]="faEdit"></fa-icon>
        Editar
      </button>
      <button (click)="onEliminarSalon()" [disabled]="selectedSalon == null" class="btn btn-danger btn-sm float-right ml-1">
        <fa-icon [icon]="faTrashAlt"></fa-icon>
        Eliminar
      </button>
    </div>
  </div>

  <div class="table-responsive">

    <table class="table table-hover">
      <thead>
      <tr>
        <!--<th>Id</th>-->
        <th>Nombre</th>
        <th>Ubicaci&oacute;n</th>
        <th>Capacidad</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let salon of salones" (click)="onSalonClicked(salon)" [ngClass]="{'bg-dark text-light': salon == selectedSalon}">
        <!--<td>{{salon.id}}</td>-->
        <td>{{salon.nombre}}</td>
        <td>{{salon.ubicacion}}</td>
        <td>{{salon.capacidad}}</td>
      </tr>
      </tbody>
    </table>

  </div>
</div>

<ng-template #modalSalonContent let-modalSalon>

  <div class="modal-header">

    <h1 *ngIf="opcionNuevoSalon;else titleEdicion" class="modal-title">Nuevo</h1>
    <ng-template #titleEdicion>
      <h1 class="modal-title">Editar</h1>
    </ng-template>

    <button type="button" class="close" aria-label="Close" (click)="modalSalon.dismiss('')">
      <fa-icon [icon]="faTimes"></fa-icon>
    </button>

  </div>

  <div class="modal-body">

    <form (ngSubmit)="onSubmitFormSalon()" [formGroup]="formSalon" id="form-salon">

      <p-messages></p-messages>

      <div class="form-group row">
        <label for="nombre" class="col-12 col-md-2 col-form-label">Nombre</label>
        <div class="col-12 col-md-10">
          <input formControlName="nombre" type="text" id="nombre" class="form-control" placeholder="Nombre">
        </div>
      </div>
      <div class="form-group row">
        <label for="ubicacion" class="col-12 col-md-2 col-form-label">Ubicaci&oacute;n</label>
        <div class="col-12 col-md-10">
          <input formControlName="ubicacion" type="text" id="ubicacion" class="form-control" placeholder="Ubicaci&oacute;n">
        </div>
      </div>
      <div class="form-group row">
        <label for="capacidad" class="col-12 col-md-2 col-form-label">Capacidad</label>
        <div class="col-12 col-md-10">
          <input formControlName="capacidad" type="text" id="capacidad" class="form-control" placeholder="Capacidad">
        </div>
      </div>
    </form>

  </div>

  <div class="modal-footer">
    <button [disabled]="!formSalon.valid" type="submit" form="form-salon" class="btn btn-primary">
      <fa-icon [icon]="faSave"></fa-icon>
      Guardar
    </button>
  </div>

</ng-template>
