
<div class="jumbotron">
  <h1>Simposio 2020</h1>
  <h2>Ingenier&iacute;a en Sistemas</h2>
</div>

<app-conferencias></app-conferencias>

<ng-template #modalPrimerLogin>
  <div class="modal-header">
    <h2 class="modal-title">Hola {{auth.user.nombres}}!</h2>
  </div>
  <div class="modal-body">
    <p class="text-justify">
      Bienvenido, ya tienes una cuenta. Ahora debes realizar el pago de tu asistencia.
    </p>
    <p class="text-justify">
      Si ya has pagado y cuentas con un recibo de dep&oacute;sito, debes registrar tu pago.
    </p>
    <p class="text-justify">
      De lo contrario, debes realizar un dep&oacute;sito en cualquiera de las cuentas disponibles y despu&eacute;s registra tu pago.
    </p>
    <p>
      Ve a "Pago" para m&aacute;s informaci&oacute;n.
    </p>
  </div>
</ng-template>
