

<div *ngIf="pago == null" class="container-not-found d-flex justify-content-center align-content-center align-items-center">
  <h3 class="mt-4 error-not-found">El pago que buscas no existe.</h3>
</div>

<ng-template [ngIf]="pago != null">

  <div class="row mt-3">
    <div class="col-12 d-flex justify-content-end">
      <ng-container *ngIf="pago.estado == PAGO_PENDIENTE_VALIDACION">

        <button class="btn btn-sm btn-danger mr-2">
          <fa-icon [icon]="faTimes"></fa-icon>&nbsp;
          Rechazar
        </button>

        <button class="btn btn-sm btn-success">
          <fa-icon [icon]="faCheck"></fa-icon>&nbsp;
          Aceptar
        </button>
      </ng-container>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12 col-md-6 col-lg-3">
        <div class="detail">
          <label class="detail-label">No. de recibo</label>
          <p class="detail-content">{{ pago.codigo_pago }}</p>
        </div>

      <div class="detail">
        <label class="detail-label">Estado</label>
        <p class="detail-content">{{ TEXTO_ESTADOSPAGO[pago.estado] }}</p>
      </div>

      <div *ngIf="asistente != null" class="detail">
        <label class="detail-label">Asistente</label>
        <p class="detail-content">{{ asistente.usuario.nombres + ' ' + asistente.usuario.apellidos }}</p>
        <p class="detail-content">{{ asistente.usuario.username }}</p>
      </div>

      <div *ngIf="cuenta != null" class="detail">
        <label class="detail-label">No. de cuenta</label>
        <p class="detail-content">{{ cuenta.numero }}</p>
      </div>

      <div *ngIf="cuenta != null" class="detail">
        <label class="detail-label">Banco</label>
        <p class="detail-content">{{ cuenta.banco }}</p>
      </div>

      <div *ngIf="cuenta != null" class="detail">
        <label class="detail-label">Titular de cuenta</label>
        <p class="detail-content">{{ cuenta.titular }}</p>
      </div>

      <div *ngIf="pago.fecha" class="detail">
        <label class="detail-label">Fecha de dep&oacute;sito</label>
        <p class="detail-content">{{ pago.fecha }}</p>
      </div>

      <div *ngIf="pago.hora" class="detail">
        <label class="detail-label">Hora de dep&oacute;sito</label>
        <p class="detail-content">{{ pago.hora }}</p>
      </div>

      <div class="detail">
        <label class="detail-label">Fecha y hora de registro</label>
        <p class="detail-content">{{ pago.fecha_registro }}</p>
      </div>

      <button (click)="openModalEditarPago(contentModalEdicionPago)" *ngIf="pago.estado == PAGO_PENDIENTE_VALIDACION" class="btn btn-sm btn-warning mt-3">
        <fa-icon [icon]="faEdit"></fa-icon>&nbsp;
        Modificar
      </button>

    </div>
    <div class="col-12 col-md-6 col-lg-9 mt-3 mt-md-0">
      <div class="foto-recibo-container d-flex justify-content-center justify-content-md-end align-content-center">
        <img [src]="pago.foto" alt="Foto del recibo" class="img-fluid">
      </div>
    </div>
  </div>
</ng-template>

<ng-template #contentModalEdicionPago let-modalEdicionPago>

  <div class="modal-header">

    <h1 class="modal-title">Editar pago</h1>

    <button type="button" class="close" aria-label="Close" (click)="modalEdicionPago.dismiss('')">
      <fa-icon [icon]="faTimes"></fa-icon>
    </button>

  </div>

  <div class="modal-body">
    <form (ngSubmit)="onSubmitFormEdicionPago()" [formGroup]="formEdicionPago" id="form-edicion-pago">

      <div class="row">
        <div class="col d-flex justify-content-center p-2 border-dark">
          <img class="img-fluid" [src]="pago.foto" alt="Foto del recibo" id="img-edicion-recibo">
        </div>
      </div>

      <div class="form-group row">
        <label for="codigo_pago" class="col-12 col-md-2 col-form-label">C&oacute;digo</label>
        <div class="col-12 col-md-10">
          <input formControlName="codigo_pago" type="text" id="codigo_pago" class="form-control" placeholder="C&oacute;digo del recibo">
        </div>
      </div>

      <div class="form-group row">
        <label for="cuenta" class="col-12 col-md-2 col-form-label">Cuenta</label>
        <div class="col-12 col-md-10">
          <select formControlName="cuenta" id="cuenta" class="custom-select">
            <option *ngFor="let cuenta of cuentas" [value]="cuenta.id">{{cuenta.numero + ' ' + cuenta.banco}}</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label for="fecha" class="col-12 col-md-2 col-form-label">Fecha</label>
        <div class="col-12 col-md-10">
          <input formControlName="fecha" type="text" id="fecha" class="form-control" placeholder="Fecha del recibo">
        </div>
      </div>

      <div class="form-group row">
        <label for="hora" class="col-12 col-md-2 col-form-label">Hora</label>
        <div class="col-12 col-md-10">
          <input formControlName="hora" type="text" id="hora" class="form-control" placeholder="Hora del recibo">
        </div>
      </div>

      <div class="row">
        <div class="col d-flex justify-content-end">
          <button [disabled]="!formEdicionPago.valid || actualizandoPago" type="submit" form="form-edicion-pago" class="btn btn-info">
            <fa-icon [icon]="faSave"></fa-icon>&nbsp;
            Guardar
          </button>
        </div>
      </div>

    </form>
  </div>

</ng-template>
