<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">SimposioUMG</a>

      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
        [ngClass]="{ show: isExpanded }">

        <ul class="navbar-nav flex-grow" *ngIf="isAuthenticated()">

          <a [routerLink]="['/logout']" class="nav-link text-dark"><fa-icon [icon]="faSignOutAlt"></fa-icon>&nbsp;Salir</a>

        </ul>

        <ul class="navbar-nav" *ngIf="!isAuthenticated()">
          <li [routerLinkActive]="['link-active']" class="nav-item">
            <a [routerLink]="['/registro']" class="nav-link text-dark">Participar</a>
          </li>
          <li class="nav-item">
            <a (click)="openModalLogin(contentLogin)" class="nav-link btn text-dark"><fa-icon [icon]="faSignInAlt"></fa-icon>&nbsp;Entrar</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>
</header>


<ng-template #contentLogin let-modalLogin>
  <div class="modal-header">
    <h4 class="modal-title">Inicio de sesi&oacute;n</h4>
    <button type="button" class="close" aria-label="Close" (click)="modalLogin.dismiss('')">
      <fa-icon [icon]="faTimes"></fa-icon>
    </button>
  </div>
  <div class="modal-body">

    <ng-template [ngIf]="errorLogin != null">
      <div class="alert alert-danger" role="alert">
        {{errorLogin}}
      </div>
    </ng-template>

    <form (ngSubmit)="onEntrar()" [formGroup]="formLogin" id="formLogin">
      <div class="form-group row">
        <label for="username" class="col-sm-2 col-form-label">Usuario</label>
        <div class="col-sm-10">
          <input formControlName="username" id="username" type="text" class="form-control" placeholder="Usuario">
        </div>
      </div>

      <div class="form-group row">
        <label for="password" class="col-sm-2 col-form-label">Contrase&ntilde;a</label>
        <div class="col-sm-10">
          <input formControlName="password" id="password" type="password" class="form-control" placeholder="Contrase&ntilde;a">
        </div>
      </div>
    </form>


  </div>
  <div class="modal-footer">
    <button [disabled]="!formLogin.valid || entrando" form="formLogin" type="submit" class="btn btn-primary">Entrar</button>
  </div>
</ng-template>


